* {
    font-family: Verdana;
}

html {
    background-color:orange;
}

header {
    font-size: 30px;
    text-align: center;
}

.container {
    border-collapse: collapse;
}

tbody {
    border: solid medium;
}

td {
    border: solid thin;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 0;
}
input[type="number"] {
    color: #000000;
    padding: 0;
    border: 0;
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 20px;
    background-color: #FFFFFF;
    outline: none;
}
table {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

section {
    text-align: center;
}

input[type=button] {
    size: 28px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    margin-left: 430px;
    margin-right: -250px;
    width: 100px;
}

/* Remove up and down arrows in input cells */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
 input[type=number] {
  -moz-appearance: textfield;
} 